<%- include("admin-header") %>

    <body>
        <!-- cars table -->
        <div class="container mt-5">
            
            <h1>Cars Status</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Car ID</th>
                        <th>Model</th>
                        <th>Status</th>
                        <th>Update Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% carsList.forEach(car=> { %>
                        <tr>
                            <td>
                                <%= car.CarID %>
                            </td>
                            <td>
                                <%= car.Model %>
                            </td>
                            <td>
                                <%= car.Status %>
                            </td>
                            <td>
                                <form action="/update-status" method="post">
                                    <input type="hidden" name="CarID" value="<%= car.CarID %>">
                                    <select name="status">
                                        <option value="Active">Active</option>
                                        <option value="Reserved">Reserved</option>
                                        <option value="Out of service">Out of Service</option>
                                    </select>
                                    <button type="submit">Update</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        </div>


    </body>

    </html>